<ul class="menu" data-role="listview">
  <li><%= link_to "トップページ", root_url %></li>
  <li><%= link_to "会社概要", about_url %></li>
  <li><%= link_to "ニュース", news_url %></li>
  <li><%= link_to "アクセス", access_url %></li>
</ul>